@media screen and (min-width: 992px) {
  #navbar {
    height: 10vh;
  }
}
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: whitesmoke;
  min-height: 10vh;
}
.main {
  margin-top: 10vh;
}
.l-spacing {
  letter-spacing: 0.25em;
  transition: 0.8s;
  font-weight: 500;
}
@media screen and (min-width: 600px) {
  .l-spacing {
    letter-spacing: 0.5em;
  }
}
.l-spacing2 {
  letter-spacing: 0.1em;
  font-weight: 500;
}
