:root {
  --primary-dark: #212121;
  --secondary-dark: #161f1e;
  --primary-blue: #10425d;
  --secondary-blue: #01a1c0;
  --primary-green: #6dd280c3;
  --primary-gray: #d7d7d7;
  --secondary-gray: #979696;
  --primary-yellow: #f3b803;
}
.bg-proMusic {
  background-image: url("../../public/assets/images/images/vinilenero\ copia\ 2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 39vh;
}

.bg-proMusic2 {
  background-image: url("../../public/assets/images/images/vinilenero\ copia\ 3.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 39vh;
}
.bg-proMiddle {
  /* background-image: url("../../public/assets/images/images/duechitarre.jpeg"); */
  background-color: #161f1e;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 12vh;
}

#contactme {
  height: 65vh;
  background-image: url("../../public/assets/images/images/nastro.webp");
  background-size: 100vh;
  background-repeat: repeat-x;
  background-position: center;
  z-index: 2;
}
.bg-infoPage {
  background-color: rgba(0, 0, 0, 0.635);
}
.bg-form {
  background: indianred;
}
#form {
  height: 80vh;
}
#scrivici {
  height: 25vh;
  background-color: whitesmoke;
}
#aside {
  background: whitesmoke;
}
.img-corsi {
  background-image: url("../../public/assets/images/images/duechitarre.jpeg");
  height: 66vh;
  background-position: right;
  background-size: cover;
}
.img-livemusic {
  background-image: url("../../public/assets/images/backgrounds/livemusic.avif");
  height: 66vh;
  background-position: center;
  background-size: cover;
}
.img-recording {
  background-image: url("../../public/assets/images/images/nastro.webp");
  height: 66vh;
  background-position: center;
  background-size: cover;
}
.img-piano {
  background-image: url("../../public/assets/images/images/oldpiano\ copia.jpeg");
  height: 66vh;
  background-position: center;
  background-size: cover;
}
.filter-black {
  background-color: #212121cf;
  padding: 0 75px;
  transition: all 0.6s;
  color: white;
  font-weight: bold;
  animation: removetransparency 0.6s linear both;
}
@keyframes removetransparency {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.filter-black:hover {
  background-color: #212121ee;
}
