:root {
  --secondary-dark: #161f1e;
}

.bg-transition:hover,
.bg-transition2:hover,
.bg-transition3:hover,
.bg-transition4:hover {
  cursor: pointer;
}
.bg-transition {
  animation: bg-transition 2.5s linear forwards !important;
}
@keyframes bg-transition {
  0% {
    background: linear-gradient(to left, transparent -50%, transparent 100%);
  }
  1% {
    background: linear-gradient(
      to left,
      transparent 99%,
      var(--secondary-dark) 100%
    );
  }
  2% {
    background: linear-gradient(
      to left,
      transparent 98%,
      var(--secondary-dark) 99%
    );
  }
  3% {
    background: linear-gradient(
      to left,
      transparent 97%,
      var(--secondary-dark) 98%
    );
  }
  4% {
    background: linear-gradient(
      to left,
      transparent 96%,
      var(--secondary-dark) 97%
    );
  }
  5% {
    background: linear-gradient(
      to left,
      transparent 95%,
      var(--secondary-dark) 96%
    );
  }
  6% {
    background: linear-gradient(
      to left,
      transparent 94%,
      var(--secondary-dark) 95%
    );
  }
  7% {
    background: linear-gradient(
      to left,
      transparent 93%,
      var(--secondary-dark) 94%
    );
  }
  8% {
    background: linear-gradient(
      to left,
      transparent 92%,
      var(--secondary-dark) 93%
    );
  }
  9% {
    background: linear-gradient(
      to left,
      transparent 91%,
      var(--secondary-dark) 92%
    );
  }
  10% {
    background: linear-gradient(
      to left,
      transparent 90%,
      var(--secondary-dark) 91%
    );
  }
  11% {
    background: linear-gradient(
      to left,
      transparent 89%,
      var(--secondary-dark) 90%
    );
  }
  12% {
    background: linear-gradient(
      to left,
      transparent 88%,
      var(--secondary-dark) 89%
    );
  }
  13% {
    background: linear-gradient(
      to left,
      transparent 88%,
      var(--secondary-dark) 88%
    );
  }
  14% {
    background: linear-gradient(
      to left,
      transparent 86%,
      var(--secondary-dark) 87%
    );
  }
  15% {
    background: linear-gradient(
      to left,
      transparent 85%,
      var(--secondary-dark) 86%
    );
  }
  16% {
    background: linear-gradient(
      to left,
      transparent 84%,
      var(--secondary-dark) 85%
    );
  }
  17% {
    background: linear-gradient(
      to left,
      transparent 83%,
      var(--secondary-dark) 84%
    );
  }
  18% {
    background: linear-gradient(
      to left,
      transparent 82%,
      var(--secondary-dark) 83%
    );
  }
  19% {
    background: linear-gradient(
      to left,
      transparent 81%,
      var(--secondary-dark) 82%
    );
  }
  20% {
    background: linear-gradient(
      to left,
      transparent 80%,
      var(--secondary-dark) 81%
    );
  }
  21% {
    background: linear-gradient(
      to left,
      transparent 79%,
      var(--secondary-dark) 80%
    );
  }
  22% {
    background: linear-gradient(
      to left,
      transparent 78%,
      var(--secondary-dark) 79%
    );
  }
  23% {
    background: linear-gradient(
      to left,
      transparent 77%,
      var(--secondary-dark) 78%
    );
  }
  24% {
    background: linear-gradient(
      to left,
      transparent 76%,
      var(--secondary-dark) 77%
    );
  }
  25% {
    background: linear-gradient(
      to left,
      transparent 75%,
      var(--secondary-dark) 76%
    );
  }
  26% {
    background: linear-gradient(
      to left,
      transparent 74%,
      var(--secondary-dark) 75%
    );
  }
  27% {
    background: linear-gradient(
      to left,
      transparent 73%,
      var(--secondary-dark) 74%
    );
  }
  28% {
    background: linear-gradient(
      to left,
      transparent 72%,
      var(--secondary-dark) 73%
    );
  }
  29% {
    background: linear-gradient(
      to left,
      transparent 71%,
      var(--secondary-dark) 72%
    );
  }
  30% {
    background: linear-gradient(
      to left,
      transparent 70%,
      var(--secondary-dark) 71%
    );
  }
  31% {
    background: linear-gradient(
      to left,
      transparent 69%,
      var(--secondary-dark) 70%
    );
  }
  32% {
    background: linear-gradient(
      to left,
      transparent 68%,
      var(--secondary-dark) 69%
    );
  }
  33% {
    background: linear-gradient(
      to left,
      transparent 67%,
      var(--secondary-dark) 68%
    );
  }
  34% {
    background: linear-gradient(
      to left,
      transparent 66%,
      var(--secondary-dark) 67%
    );
  }
  35% {
    background: linear-gradient(
      to left,
      transparent 65%,
      var(--secondary-dark) 66%
    );
  }
  36% {
    background: linear-gradient(
      to left,
      transparent 64%,
      var(--secondary-dark) 65%
    );
  }
  37% {
    background: linear-gradient(
      to left,
      transparent 63%,
      var(--secondary-dark) 64%
    );
  }
  38% {
    background: linear-gradient(
      to left,
      transparent 62%,
      var(--secondary-dark) 63%
    );
  }
  39% {
    background: linear-gradient(
      to left,
      transparent 61%,
      var(--secondary-dark) 62%
    );
  }
  40% {
    background: linear-gradient(
      to left,
      transparent 60%,
      var(--secondary-dark) 61%
    );
  }
  41% {
    background: linear-gradient(
      to left,
      transparent 59%,
      var(--secondary-dark) 60%
    );
  }
  42% {
    background: linear-gradient(
      to left,
      transparent 58%,
      var(--secondary-dark) 59%
    );
  }
  43% {
    background: linear-gradient(
      to left,
      transparent 57%,
      var(--secondary-dark) 58%
    );
  }
  44% {
    background: linear-gradient(
      to left,
      transparent 56%,
      var(--secondary-dark) 57%
    );
  }
  45% {
    background: linear-gradient(
      to left,
      transparent 55%,
      var(--secondary-dark) 56%
    );
  }
  46% {
    background: linear-gradient(
      to left,
      transparent 54%,
      var(--secondary-dark) 55%
    );
  }
  47% {
    background: linear-gradient(
      to left,
      transparent 53%,
      var(--secondary-dark) 54%
    );
  }
  48% {
    background: linear-gradient(
      to left,
      transparent 52%,
      var(--secondary-dark) 53%
    );
  }
  49% {
    background: linear-gradient(
      to left,
      transparent 51%,
      var(--secondary-dark) 52%
    );
  }
  50% {
    background: linear-gradient(
      to left,
      transparent 50%,
      var(--secondary-dark) 51%
    );
  }
  51% {
    background: linear-gradient(
      to left,
      transparent 49%,
      var(--secondary-dark) 50%
    );
  }
  52% {
    background: linear-gradient(
      to left,
      transparent 48%,
      var(--secondary-dark) 49%
    );
  }
  53% {
    background: linear-gradient(
      to left,
      transparent 47%,
      var(--secondary-dark) 48%
    );
  }
  54% {
    background: linear-gradient(
      to left,
      transparent 46%,
      var(--secondary-dark) 47%
    );
  }
  55% {
    background: linear-gradient(
      to left,
      transparent 45%,
      var(--secondary-dark) 46%
    );
  }
  56% {
    background: linear-gradient(
      to left,
      transparent 44%,
      var(--secondary-dark) 45%
    );
  }
  57% {
    background: linear-gradient(
      to left,
      transparent 43%,
      var(--secondary-dark) 44%
    );
  }
  58% {
    background: linear-gradient(
      to left,
      transparent 42%,
      var(--secondary-dark) 43%
    );
  }
  59% {
    background: linear-gradient(
      to left,
      transparent 41%,
      var(--secondary-dark) 42%
    );
  }
  60% {
    background: linear-gradient(
      to left,
      transparent 40%,
      var(--secondary-dark) 41%
    );
  }
  61% {
    background: linear-gradient(
      to left,
      transparent 39%,
      var(--secondary-dark) 40%
    );
  }
  62% {
    background: linear-gradient(
      to left,
      transparent 38%,
      var(--secondary-dark) 39%
    );
  }
  63% {
    background: linear-gradient(
      to left,
      transparent 37%,
      var(--secondary-dark) 38%
    );
  }
  64% {
    background: linear-gradient(
      to left,
      transparent 36%,
      var(--secondary-dark) 37%
    );
  }
  65% {
    background: linear-gradient(
      to left,
      transparent 35%,
      var(--secondary-dark) 36%
    );
  }
  66% {
    background: linear-gradient(
      to left,
      transparent 34%,
      var(--secondary-dark) 35%
    );
  }
  67% {
    background: linear-gradient(
      to left,
      transparent 33%,
      var(--secondary-dark) 34%
    );
  }
  68% {
    background: linear-gradient(
      to left,
      transparent 32%,
      var(--secondary-dark) 33%
    );
  }
  69% {
    background: linear-gradient(
      to left,
      transparent 31%,
      var(--secondary-dark) 32%
    );
  }
  70% {
    background: linear-gradient(
      to left,
      transparent 30%,
      var(--secondary-dark) 31%
    );
  }
  71% {
    background: linear-gradient(
      to left,
      transparent 29%,
      var(--secondary-dark) 30%
    );
  }
  72% {
    background: linear-gradient(
      to left,
      transparent 28%,
      var(--secondary-dark) 29%
    );
  }
  73% {
    background: linear-gradient(
      to left,
      transparent 27%,
      var(--secondary-dark) 28%
    );
  }
  74% {
    background: linear-gradient(
      to left,
      transparent 26%,
      var(--secondary-dark) 27%
    );
  }
  75% {
    background: linear-gradient(
      to left,
      transparent 25%,
      var(--secondary-dark) 26%
    );
  }
  76% {
    background: linear-gradient(
      to left,
      transparent 24%,
      var(--secondary-dark) 25%
    );
  }
  77% {
    background: linear-gradient(
      to left,
      transparent 23%,
      var(--secondary-dark) 24%
    );
  }
  78% {
    background: linear-gradient(
      to left,
      transparent 22%,
      var(--secondary-dark) 23%
    );
  }
  79% {
    background: linear-gradient(
      to left,
      transparent 21%,
      var(--secondary-dark) 22%
    );
  }
  80% {
    background: linear-gradient(
      to left,
      transparent 20%,
      var(--secondary-dark) 21%
    );
  }
  81% {
    background: linear-gradient(
      to left,
      transparent 19%,
      var(--secondary-dark) 20%
    );
  }
  82% {
    background: linear-gradient(
      to left,
      transparent 18%,
      var(--secondary-dark) 19%
    );
  }
  83% {
    background: linear-gradient(
      to left,
      transparent 17%,
      var(--secondary-dark) 18%
    );
  }
  84% {
    background: linear-gradient(
      to left,
      transparent 16%,
      var(--secondary-dark) 17%
    );
  }
  85% {
    background: linear-gradient(
      to left,
      transparent 15%,
      var(--secondary-dark) 16%
    );
  }
  86% {
    background: linear-gradient(
      to left,
      transparent 14%,
      var(--secondary-dark) 15%
    );
  }
  87% {
    background: linear-gradient(
      to left,
      transparent 13%,
      var(--secondary-dark) 14%
    );
  }
  88% {
    background: linear-gradient(
      to left,
      transparent 12%,
      var(--secondary-dark) 13%
    );
  }
  89% {
    background: linear-gradient(
      to left,
      transparent 11%,
      var(--secondary-dark) 12%
    );
  }
  90% {
    background: linear-gradient(
      to left,
      transparent 10%,
      var(--secondary-dark) 11%
    );
  }
  91% {
    background: linear-gradient(
      to left,
      transparent 9%,
      var(--secondary-dark) 10%
    );
  }
  92% {
    background: linear-gradient(
      to left,
      transparent 8%,
      var(--secondary-dark) 9%
    );
  }
  93% {
    background: linear-gradient(
      to left,
      transparent 7%,
      var(--secondary-dark) 8%
    );
  }
  94% {
    background: linear-gradient(
      to left,
      transparent 6%,
      var(--secondary-dark) 7%
    );
  }
  95% {
    background: linear-gradient(
      to left,
      transparent 5%,
      var(--secondary-dark) 6%
    );
  }
  96% {
    background: linear-gradient(
      to left,
      transparent 4%,
      var(--secondary-dark) 5%
    );
  }
  97% {
    background: linear-gradient(
      to left,
      transparent 3%,
      var(--secondary-dark) 4%
    );
  }
  98% {
    background: linear-gradient(
      to left,
      transparent 2%,
      var(--secondary-dark) 3%
    );
  }
  99% {
    background: linear-gradient(
      to left,
      transparent 1%,
      var(--secondary-dark) 2%
    );
  }
  100% {
    background: linear-gradient(
      to left,
      var(--secondary-dark) 0%,
      var(--secondary-dark) 1%
    );
  }
}

.bg-transition2 {
  background: transparent;
  animation: bg-transition2 2.5s linear forwards !important;
  cursor: pointer;
}
@keyframes bg-transition2 {
  0% {
    background: linear-gradient(to right, transparent -50%, transparent 100%);
  }
  1% {
    background: linear-gradient(
      to right,
      transparent 99%,
      var(--secondary-dark) 100%
    );
  }
  2% {
    background: linear-gradient(
      to right,
      transparent 98%,
      var(--secondary-dark) 99%
    );
  }
  3% {
    background: linear-gradient(
      to right,
      transparent 97%,
      var(--secondary-dark) 98%
    );
  }
  4% {
    background: linear-gradient(
      to right,
      transparent 96%,
      var(--secondary-dark) 97%
    );
  }
  5% {
    background: linear-gradient(
      to right,
      transparent 95%,
      var(--secondary-dark) 96%
    );
  }
  6% {
    background: linear-gradient(
      to right,
      transparent 94%,
      var(--secondary-dark) 95%
    );
  }
  7% {
    background: linear-gradient(
      to right,
      transparent 93%,
      var(--secondary-dark) 94%
    );
  }
  8% {
    background: linear-gradient(
      to right,
      transparent 92%,
      var(--secondary-dark) 93%
    );
  }
  9% {
    background: linear-gradient(
      to right,
      transparent 91%,
      var(--secondary-dark) 92%
    );
  }
  10% {
    background: linear-gradient(
      to right,
      transparent 90%,
      var(--secondary-dark) 91%
    );
  }
  11% {
    background: linear-gradient(
      to right,
      transparent 89%,
      var(--secondary-dark) 90%
    );
  }
  12% {
    background: linear-gradient(
      to right,
      transparent 88%,
      var(--secondary-dark) 89%
    );
  }
  13% {
    background: linear-gradient(
      to right,
      transparent 88%,
      var(--secondary-dark) 88%
    );
  }
  14% {
    background: linear-gradient(
      to right,
      transparent 86%,
      var(--secondary-dark) 87%
    );
  }
  15% {
    background: linear-gradient(
      to right,
      transparent 85%,
      var(--secondary-dark) 86%
    );
  }
  16% {
    background: linear-gradient(
      to right,
      transparent 84%,
      var(--secondary-dark) 85%
    );
  }
  17% {
    background: linear-gradient(
      to right,
      transparent 83%,
      var(--secondary-dark) 84%
    );
  }
  18% {
    background: linear-gradient(
      to right,
      transparent 82%,
      var(--secondary-dark) 83%
    );
  }
  19% {
    background: linear-gradient(
      to right,
      transparent 81%,
      var(--secondary-dark) 82%
    );
  }
  20% {
    background: linear-gradient(
      to right,
      transparent 80%,
      var(--secondary-dark) 81%
    );
  }
  21% {
    background: linear-gradient(
      to right,
      transparent 79%,
      var(--secondary-dark) 80%
    );
  }
  22% {
    background: linear-gradient(
      to right,
      transparent 78%,
      var(--secondary-dark) 79%
    );
  }
  23% {
    background: linear-gradient(
      to right,
      transparent 77%,
      var(--secondary-dark) 78%
    );
  }
  24% {
    background: linear-gradient(
      to right,
      transparent 76%,
      var(--secondary-dark) 77%
    );
  }
  25% {
    background: linear-gradient(
      to right,
      transparent 75%,
      var(--secondary-dark) 76%
    );
  }
  26% {
    background: linear-gradient(
      to right,
      transparent 74%,
      var(--secondary-dark) 75%
    );
  }
  27% {
    background: linear-gradient(
      to right,
      transparent 73%,
      var(--secondary-dark) 74%
    );
  }
  28% {
    background: linear-gradient(
      to right,
      transparent 72%,
      var(--secondary-dark) 73%
    );
  }
  29% {
    background: linear-gradient(
      to right,
      transparent 71%,
      var(--secondary-dark) 72%
    );
  }
  30% {
    background: linear-gradient(
      to right,
      transparent 70%,
      var(--secondary-dark) 71%
    );
  }
  31% {
    background: linear-gradient(
      to right,
      transparent 69%,
      var(--secondary-dark) 70%
    );
  }
  32% {
    background: linear-gradient(
      to right,
      transparent 68%,
      var(--secondary-dark) 69%
    );
  }
  33% {
    background: linear-gradient(
      to right,
      transparent 67%,
      var(--secondary-dark) 68%
    );
  }
  34% {
    background: linear-gradient(
      to right,
      transparent 66%,
      var(--secondary-dark) 67%
    );
  }
  35% {
    background: linear-gradient(
      to right,
      transparent 65%,
      var(--secondary-dark) 66%
    );
  }
  36% {
    background: linear-gradient(
      to right,
      transparent 64%,
      var(--secondary-dark) 65%
    );
  }
  37% {
    background: linear-gradient(
      to right,
      transparent 63%,
      var(--secondary-dark) 64%
    );
  }
  38% {
    background: linear-gradient(
      to right,
      transparent 62%,
      var(--secondary-dark) 63%
    );
  }
  39% {
    background: linear-gradient(
      to right,
      transparent 61%,
      var(--secondary-dark) 62%
    );
  }
  40% {
    background: linear-gradient(
      to right,
      transparent 60%,
      var(--secondary-dark) 61%
    );
  }
  41% {
    background: linear-gradient(
      to right,
      transparent 59%,
      var(--secondary-dark) 60%
    );
  }
  42% {
    background: linear-gradient(
      to right,
      transparent 58%,
      var(--secondary-dark) 59%
    );
  }
  43% {
    background: linear-gradient(
      to right,
      transparent 57%,
      var(--secondary-dark) 58%
    );
  }
  44% {
    background: linear-gradient(
      to right,
      transparent 56%,
      var(--secondary-dark) 57%
    );
  }
  45% {
    background: linear-gradient(
      to right,
      transparent 55%,
      var(--secondary-dark) 56%
    );
  }
  46% {
    background: linear-gradient(
      to right,
      transparent 54%,
      var(--secondary-dark) 55%
    );
  }
  47% {
    background: linear-gradient(
      to right,
      transparent 53%,
      var(--secondary-dark) 54%
    );
  }
  48% {
    background: linear-gradient(
      to right,
      transparent 52%,
      var(--secondary-dark) 53%
    );
  }
  49% {
    background: linear-gradient(
      to right,
      transparent 51%,
      var(--secondary-dark) 52%
    );
  }
  50% {
    background: linear-gradient(
      to right,
      transparent 50%,
      var(--secondary-dark) 51%
    );
  }
  51% {
    background: linear-gradient(
      to right,
      transparent 49%,
      var(--secondary-dark) 50%
    );
  }
  52% {
    background: linear-gradient(
      to right,
      transparent 48%,
      var(--secondary-dark) 49%
    );
  }
  53% {
    background: linear-gradient(
      to right,
      transparent 47%,
      var(--secondary-dark) 48%
    );
  }
  54% {
    background: linear-gradient(
      to right,
      transparent 46%,
      var(--secondary-dark) 47%
    );
  }
  55% {
    background: linear-gradient(
      to right,
      transparent 45%,
      var(--secondary-dark) 46%
    );
  }
  56% {
    background: linear-gradient(
      to right,
      transparent 44%,
      var(--secondary-dark) 45%
    );
  }
  57% {
    background: linear-gradient(
      to right,
      transparent 43%,
      var(--secondary-dark) 44%
    );
  }
  58% {
    background: linear-gradient(
      to right,
      transparent 42%,
      var(--secondary-dark) 43%
    );
  }
  59% {
    background: linear-gradient(
      to right,
      transparent 41%,
      var(--secondary-dark) 42%
    );
  }
  60% {
    background: linear-gradient(
      to right,
      transparent 40%,
      var(--secondary-dark) 41%
    );
  }
  61% {
    background: linear-gradient(
      to right,
      transparent 39%,
      var(--secondary-dark) 40%
    );
  }
  62% {
    background: linear-gradient(
      to right,
      transparent 38%,
      var(--secondary-dark) 39%
    );
  }
  63% {
    background: linear-gradient(
      to right,
      transparent 37%,
      var(--secondary-dark) 38%
    );
  }
  64% {
    background: linear-gradient(
      to right,
      transparent 36%,
      var(--secondary-dark) 37%
    );
  }
  65% {
    background: linear-gradient(
      to right,
      transparent 35%,
      var(--secondary-dark) 36%
    );
  }
  66% {
    background: linear-gradient(
      to right,
      transparent 34%,
      var(--secondary-dark) 35%
    );
  }
  67% {
    background: linear-gradient(
      to right,
      transparent 33%,
      var(--secondary-dark) 34%
    );
  }
  68% {
    background: linear-gradient(
      to right,
      transparent 32%,
      var(--secondary-dark) 33%
    );
  }
  69% {
    background: linear-gradient(
      to right,
      transparent 31%,
      var(--secondary-dark) 32%
    );
  }
  70% {
    background: linear-gradient(
      to right,
      transparent 30%,
      var(--secondary-dark) 31%
    );
  }
  71% {
    background: linear-gradient(
      to right,
      transparent 29%,
      var(--secondary-dark) 30%
    );
  }
  72% {
    background: linear-gradient(
      to right,
      transparent 28%,
      var(--secondary-dark) 29%
    );
  }
  73% {
    background: linear-gradient(
      to right,
      transparent 27%,
      var(--secondary-dark) 28%
    );
  }
  74% {
    background: linear-gradient(
      to right,
      transparent 26%,
      var(--secondary-dark) 27%
    );
  }
  75% {
    background: linear-gradient(
      to right,
      transparent 25%,
      var(--secondary-dark) 26%
    );
  }
  76% {
    background: linear-gradient(
      to right,
      transparent 24%,
      var(--secondary-dark) 25%
    );
  }
  77% {
    background: linear-gradient(
      to right,
      transparent 23%,
      var(--secondary-dark) 24%
    );
  }
  78% {
    background: linear-gradient(
      to right,
      transparent 22%,
      var(--secondary-dark) 23%
    );
  }
  79% {
    background: linear-gradient(
      to right,
      transparent 21%,
      var(--secondary-dark) 22%
    );
  }
  80% {
    background: linear-gradient(
      to right,
      transparent 20%,
      var(--secondary-dark) 21%
    );
  }
  81% {
    background: linear-gradient(
      to right,
      transparent 19%,
      var(--secondary-dark) 20%
    );
  }
  82% {
    background: linear-gradient(
      to right,
      transparent 18%,
      var(--secondary-dark) 19%
    );
  }
  83% {
    background: linear-gradient(
      to right,
      transparent 17%,
      var(--secondary-dark) 18%
    );
  }
  84% {
    background: linear-gradient(
      to right,
      transparent 16%,
      var(--secondary-dark) 17%
    );
  }
  85% {
    background: linear-gradient(
      to right,
      transparent 15%,
      var(--secondary-dark) 16%
    );
  }
  86% {
    background: linear-gradient(
      to right,
      transparent 14%,
      var(--secondary-dark) 15%
    );
  }
  87% {
    background: linear-gradient(
      to right,
      transparent 13%,
      var(--secondary-dark) 14%
    );
  }
  88% {
    background: linear-gradient(
      to right,
      transparent 12%,
      var(--secondary-dark) 13%
    );
  }
  89% {
    background: linear-gradient(
      to right,
      transparent 11%,
      var(--secondary-dark) 12%
    );
  }
  90% {
    background: linear-gradient(
      to right,
      transparent 10%,
      var(--secondary-dark) 11%
    );
  }
  91% {
    background: linear-gradient(
      to right,
      transparent 9%,
      var(--secondary-dark) 10%
    );
  }
  92% {
    background: linear-gradient(
      to right,
      transparent 8%,
      var(--secondary-dark) 9%
    );
  }
  93% {
    background: linear-gradient(
      to right,
      transparent 7%,
      var(--secondary-dark) 8%
    );
  }
  94% {
    background: linear-gradient(
      to right,
      transparent 6%,
      var(--secondary-dark) 7%
    );
  }
  95% {
    background: linear-gradient(
      to right,
      transparent 5%,
      var(--secondary-dark) 6%
    );
  }
  96% {
    background: linear-gradient(
      to right,
      transparent 4%,
      var(--secondary-dark) 5%
    );
  }
  97% {
    background: linear-gradient(
      to right,
      transparent 3%,
      var(--secondary-dark) 4%
    );
  }
  98% {
    background: linear-gradient(
      to right,
      transparent 2%,
      var(--secondary-dark) 3%
    );
  }
  99% {
    background: linear-gradient(
      to right,
      transparent 1%,
      var(--secondary-dark) 2%
    );
  }
  100% {
    background: linear-gradient(
      to right,
      var(--secondary-dark) 0%,
      var(--secondary-dark) 1%
    );
  }
}

.bg-transition3 {
  cursor: pointer;
  animation: bg-transition3 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes bg-transition3 {
  0% {
    background: linear-gradient(to top, transparent -50%, transparent 100%);
    z-index: 22;
  }
  1% {
    background: linear-gradient(
      to top,
      transparent 99%,
      var(--secondary-dark) 100%
    );
    z-index: 22;
  }
  2% {
    background: linear-gradient(
      to top,
      transparent 98%,
      var(--secondary-dark) 99%
    );
    z-index: 22;
  }
  3% {
    background: linear-gradient(
      to top,
      transparent 97%,
      var(--secondary-dark) 98%
    );
    z-index: 22;
  }
  4% {
    background: linear-gradient(
      to top,
      transparent 96%,
      var(--secondary-dark) 97%
    );
    z-index: 22;
  }
  5% {
    background: linear-gradient(
      to top,
      transparent 95%,
      var(--secondary-dark) 96%
    );
    z-index: 22;
  }
  6% {
    background: linear-gradient(
      to top,
      transparent 94%,
      var(--secondary-dark) 95%
    );
    z-index: 22;
  }
  7% {
    background: linear-gradient(
      to top,
      transparent 93%,
      var(--secondary-dark) 94%
    );
    z-index: 22;
  }
  8% {
    background: linear-gradient(
      to top,
      transparent 92%,
      var(--secondary-dark) 93%
    );
    z-index: 22;
  }
  9% {
    background: linear-gradient(
      to top,
      transparent 91%,
      var(--secondary-dark) 92%
    );
    z-index: 22;
  }
  10% {
    background: linear-gradient(
      to top,
      transparent 90%,
      var(--secondary-dark) 91%
    );
    z-index: 22;
  }
  11% {
    background: linear-gradient(
      to top,
      transparent 89%,
      var(--secondary-dark) 90%
    );
    z-index: 22;
  }
  12% {
    background: linear-gradient(
      to top,
      transparent 88%,
      var(--secondary-dark) 89%
    );
    z-index: 22;
  }
  13% {
    background: linear-gradient(
      to top,
      transparent 88%,
      var(--secondary-dark) 88%
    );
    z-index: 22;
  }
  14% {
    background: linear-gradient(
      to top,
      transparent 86%,
      var(--secondary-dark) 87%
    );
    z-index: 22;
  }
  15% {
    background: linear-gradient(
      to top,
      transparent 85%,
      var(--secondary-dark) 86%
    );
    z-index: 22;
  }
  16% {
    background: linear-gradient(
      to top,
      transparent 84%,
      var(--secondary-dark) 85%
    );
    z-index: 22;
  }
  17% {
    background: linear-gradient(
      to top,
      transparent 83%,
      var(--secondary-dark) 84%
    );
    z-index: 22;
  }
  18% {
    background: linear-gradient(
      to top,
      transparent 82%,
      var(--secondary-dark) 83%
    );
    z-index: 22;
  }
  19% {
    background: linear-gradient(
      to top,
      transparent 81%,
      var(--secondary-dark) 82%
    );
    z-index: 22;
  }
  20% {
    background: linear-gradient(
      to top,
      transparent 80%,
      var(--secondary-dark) 81%
    );
    z-index: 22;
  }
  21% {
    background: linear-gradient(
      to top,
      transparent 79%,
      var(--secondary-dark) 80%
    );
    z-index: 22;
  }
  22% {
    background: linear-gradient(
      to top,
      transparent 78%,
      var(--secondary-dark) 79%
    );
    z-index: 22;
  }
  23% {
    background: linear-gradient(
      to top,
      transparent 77%,
      var(--secondary-dark) 78%
    );
    z-index: 22;
  }
  24% {
    background: linear-gradient(
      to top,
      transparent 76%,
      var(--secondary-dark) 77%
    );
    z-index: 22;
  }
  25% {
    background: linear-gradient(
      to top,
      transparent 75%,
      var(--secondary-dark) 76%
    );
    z-index: 22;
  }
  26% {
    background: linear-gradient(
      to top,
      transparent 74%,
      var(--secondary-dark) 75%
    );
    z-index: 22;
  }
  27% {
    background: linear-gradient(
      to top,
      transparent 73%,
      var(--secondary-dark) 74%
    );
    z-index: 22;
  }
  28% {
    background: linear-gradient(
      to top,
      transparent 72%,
      var(--secondary-dark) 73%
    );
    z-index: 22;
  }
  29% {
    background: linear-gradient(
      to top,
      transparent 71%,
      var(--secondary-dark) 72%
    );
    z-index: 22;
  }
  30% {
    background: linear-gradient(
      to top,
      transparent 70%,
      var(--secondary-dark) 71%
    );
    z-index: 22;
  }
  31% {
    background: linear-gradient(
      to top,
      transparent 69%,
      var(--secondary-dark) 70%
    );
    z-index: 22;
  }
  32% {
    background: linear-gradient(
      to top,
      transparent 68%,
      var(--secondary-dark) 69%
    );
    z-index: 22;
  }
  33% {
    background: linear-gradient(
      to top,
      transparent 67%,
      var(--secondary-dark) 68%
    );
    z-index: 22;
  }
  34% {
    background: linear-gradient(
      to top,
      transparent 66%,
      var(--secondary-dark) 67%
    );
    z-index: 22;
  }
  35% {
    background: linear-gradient(
      to top,
      transparent 65%,
      var(--secondary-dark) 66%
    );
    z-index: 22;
  }
  36% {
    background: linear-gradient(
      to top,
      transparent 64%,
      var(--secondary-dark) 65%
    );
    z-index: 22;
  }
  37% {
    background: linear-gradient(
      to top,
      transparent 63%,
      var(--secondary-dark) 64%
    );
    z-index: 22;
  }
  38% {
    background: linear-gradient(
      to top,
      transparent 62%,
      var(--secondary-dark) 63%
    );
    z-index: 22;
  }
  39% {
    background: linear-gradient(
      to top,
      transparent 61%,
      var(--secondary-dark) 62%
    );
    z-index: 22;
  }
  40% {
    background: linear-gradient(
      to top,
      transparent 60%,
      var(--secondary-dark) 61%
    );
    z-index: 22;
  }
  41% {
    background: linear-gradient(
      to top,
      transparent 59%,
      var(--secondary-dark) 60%
    );
    z-index: 22;
  }
  42% {
    background: linear-gradient(
      to top,
      transparent 58%,
      var(--secondary-dark) 59%
    );
    z-index: 22;
  }
  43% {
    background: linear-gradient(
      to top,
      transparent 57%,
      var(--secondary-dark) 58%
    );
    z-index: 22;
  }
  44% {
    background: linear-gradient(
      to top,
      transparent 56%,
      var(--secondary-dark) 57%
    );
    z-index: 22;
  }
  45% {
    background: linear-gradient(
      to top,
      transparent 55%,
      var(--secondary-dark) 56%
    );
    z-index: 22;
  }
  46% {
    background: linear-gradient(
      to top,
      transparent 54%,
      var(--secondary-dark) 55%
    );
    z-index: 22;
  }
  47% {
    background: linear-gradient(
      to top,
      transparent 53%,
      var(--secondary-dark) 54%
    );
    z-index: 22;
  }
  48% {
    background: linear-gradient(
      to top,
      transparent 52%,
      var(--secondary-dark) 53%
    );
    z-index: 22;
  }
  49% {
    background: linear-gradient(
      to top,
      transparent 51%,
      var(--secondary-dark) 52%
    );
    z-index: 22;
  }
  50% {
    background: linear-gradient(
      to top,
      transparent 50%,
      var(--secondary-dark) 51%
    );
    z-index: 22;
  }
  51% {
    background: linear-gradient(
      to top,
      transparent 49%,
      var(--secondary-dark) 50%
    );
    z-index: 22;
  }
  52% {
    background: linear-gradient(
      to top,
      transparent 48%,
      var(--secondary-dark) 49%
    );
    z-index: 22;
  }
  53% {
    background: linear-gradient(
      to top,
      transparent 47%,
      var(--secondary-dark) 48%
    );
    z-index: 22;
  }
  54% {
    background: linear-gradient(
      to top,
      transparent 46%,
      var(--secondary-dark) 47%
    );
    z-index: 22;
  }
  55% {
    background: linear-gradient(
      to top,
      transparent 45%,
      var(--secondary-dark) 46%
    );
    z-index: 22;
  }
  56% {
    background: linear-gradient(
      to top,
      transparent 44%,
      var(--secondary-dark) 45%
    );
    z-index: 22;
  }
  57% {
    background: linear-gradient(
      to top,
      transparent 43%,
      var(--secondary-dark) 44%
    );
    z-index: 22;
  }
  58% {
    background: linear-gradient(
      to top,
      transparent 42%,
      var(--secondary-dark) 43%
    );
    z-index: 22;
  }
  59% {
    background: linear-gradient(
      to top,
      transparent 41%,
      var(--secondary-dark) 42%
    );
    z-index: 22;
  }
  60% {
    background: linear-gradient(
      to top,
      transparent 40%,
      var(--secondary-dark) 41%
    );
    z-index: 22;
  }
  61% {
    background: linear-gradient(
      to top,
      transparent 39%,
      var(--secondary-dark) 40%
    );
    z-index: 22;
  }
  62% {
    background: linear-gradient(
      to top,
      transparent 38%,
      var(--secondary-dark) 39%
    );
    z-index: 22;
  }
  63% {
    background: linear-gradient(
      to top,
      transparent 37%,
      var(--secondary-dark) 38%
    );
    z-index: 22;
  }
  64% {
    background: linear-gradient(
      to top,
      transparent 36%,
      var(--secondary-dark) 37%
    );
    z-index: 22;
  }
  65% {
    background: linear-gradient(
      to top,
      transparent 35%,
      var(--secondary-dark) 36%
    );
    z-index: 22;
  }
  66% {
    background: linear-gradient(
      to top,
      transparent 34%,
      var(--secondary-dark) 35%
    );
    z-index: 22;
  }
  67% {
    background: linear-gradient(
      to top,
      transparent 33%,
      var(--secondary-dark) 34%
    );
    z-index: 22;
  }
  68% {
    background: linear-gradient(
      to top,
      transparent 32%,
      var(--secondary-dark) 33%
    );
    z-index: 22;
  }
  69% {
    background: linear-gradient(
      to top,
      transparent 31%,
      var(--secondary-dark) 32%
    );
    z-index: 22;
  }
  70% {
    background: linear-gradient(
      to top,
      transparent 30%,
      var(--secondary-dark) 31%
    );
    z-index: 22;
  }
  71% {
    background: linear-gradient(
      to top,
      transparent 29%,
      var(--secondary-dark) 30%
    );
    z-index: 22;
  }
  72% {
    background: linear-gradient(
      to top,
      transparent 28%,
      var(--secondary-dark) 29%
    );
    z-index: 22;
  }
  73% {
    background: linear-gradient(
      to top,
      transparent 27%,
      var(--secondary-dark) 28%
    );
    z-index: 22;
  }
  74% {
    background: linear-gradient(
      to top,
      transparent 26%,
      var(--secondary-dark) 27%
    );
    z-index: 22;
  }
  75% {
    background: linear-gradient(
      to top,
      transparent 25%,
      var(--secondary-dark) 26%
    );
    z-index: 22;
  }
  76% {
    background: linear-gradient(
      to top,
      transparent 24%,
      var(--secondary-dark) 25%
    );
    z-index: 22;
  }
  77% {
    background: linear-gradient(
      to top,
      transparent 23%,
      var(--secondary-dark) 24%
    );
    z-index: 22;
  }
  78% {
    background: linear-gradient(
      to top,
      transparent 22%,
      var(--secondary-dark) 23%
    );
    z-index: 22;
  }
  79% {
    background: linear-gradient(
      to top,
      transparent 21%,
      var(--secondary-dark) 22%
    );
    z-index: 22;
  }
  80% {
    background: linear-gradient(
      to top,
      transparent 20%,
      var(--secondary-dark) 21%
    );
    z-index: 22;
  }
  81% {
    background: linear-gradient(
      to top,
      transparent 19%,
      var(--secondary-dark) 20%
    );
    z-index: 22;
  }
  82% {
    background: linear-gradient(
      to top,
      transparent 18%,
      var(--secondary-dark) 19%
    );
    z-index: 22;
  }
  83% {
    background: linear-gradient(
      to top,
      transparent 17%,
      var(--secondary-dark) 18%
    );
    z-index: 22;
  }
  84% {
    background: linear-gradient(
      to top,
      transparent 16%,
      var(--secondary-dark) 17%
    );
    z-index: 22;
  }
  85% {
    background: linear-gradient(
      to top,
      transparent 15%,
      var(--secondary-dark) 16%
    );
    z-index: 22;
  }
  86% {
    background: linear-gradient(
      to top,
      transparent 14%,
      var(--secondary-dark) 15%
    );
    z-index: 22;
  }
  87% {
    background: linear-gradient(
      to top,
      transparent 13%,
      var(--secondary-dark) 14%
    );
    z-index: 22;
  }
  88% {
    background: linear-gradient(
      to top,
      transparent 12%,
      var(--secondary-dark) 13%
    );
    z-index: 22;
  }
  89% {
    background: linear-gradient(
      to top,
      transparent 11%,
      var(--secondary-dark) 12%
    );
    z-index: 22;
  }
  90% {
    background: linear-gradient(
      to top,
      transparent 10%,
      var(--secondary-dark) 11%
    );
    z-index: 22;
  }
  91% {
    background: linear-gradient(
      to top,
      transparent 9%,
      var(--secondary-dark) 10%
    );
    z-index: 22;
  }
  92% {
    background: linear-gradient(
      to top,
      transparent 8%,
      var(--secondary-dark) 9%
    );
    z-index: 22;
  }
  93% {
    background: linear-gradient(
      to top,
      transparent 7%,
      var(--secondary-dark) 8%
    );
    z-index: 22;
  }
  94% {
    background: linear-gradient(
      to top,
      transparent 6%,
      var(--secondary-dark) 7%
    );
    z-index: 22;
  }
  95% {
    background: linear-gradient(
      to top,
      transparent 5%,
      var(--secondary-dark) 6%
    );
    z-index: 22;
  }
  96% {
    background: linear-gradient(
      to top,
      transparent 4%,
      var(--secondary-dark) 5%
    );
    z-index: 22;
  }
  97% {
    background: linear-gradient(
      to top,
      transparent 3%,
      var(--secondary-dark) 4%
    );
    z-index: 22;
  }
  98% {
    background: linear-gradient(
      to top,
      transparent 2%,
      var(--secondary-dark) 3%
    );
    z-index: 22;
  }
  99% {
    background: linear-gradient(
      to top,
      transparent 1%,
      var(--secondary-dark) 2%
    );
    z-index: 22;
  }
  100% {
    background: linear-gradient(
      to top,
      var(--secondary-dark) 0%,
      var(--secondary-dark) 1%
    );
    z-index: 22;
  }
}
.bg-transition4 {
  cursor: pointer;
  animation: bg-transition4 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@keyframes bg-transition4 {
  0% {
    background: linear-gradient(to bottom, transparent -50%, transparent 100%);
    z-index: 22;
  }
  1% {
    background: linear-gradient(
      to bottom,
      transparent 99%,
      var(--secondary-dark) 100%
    );
    z-index: 22;
  }
  2% {
    background: linear-gradient(
      to bottom,
      transparent 98%,
      var(--secondary-dark) 99%
    );
    z-index: 22;
  }
  3% {
    background: linear-gradient(
      to bottom,
      transparent 97%,
      var(--secondary-dark) 98%
    );
    z-index: 22;
  }
  4% {
    background: linear-gradient(
      to bottom,
      transparent 96%,
      var(--secondary-dark) 97%
    );
    z-index: 22;
  }
  5% {
    background: linear-gradient(
      to bottom,
      transparent 95%,
      var(--secondary-dark) 96%
    );
    z-index: 22;
  }
  6% {
    background: linear-gradient(
      to bottom,
      transparent 94%,
      var(--secondary-dark) 95%
    );
    z-index: 22;
  }
  7% {
    background: linear-gradient(
      to bottom,
      transparent 93%,
      var(--secondary-dark) 94%
    );
    z-index: 22;
  }
  8% {
    background: linear-gradient(
      to bottom,
      transparent 92%,
      var(--secondary-dark) 93%
    );
    z-index: 22;
  }
  9% {
    background: linear-gradient(
      to bottom,
      transparent 91%,
      var(--secondary-dark) 92%
    );
    z-index: 22;
  }
  10% {
    background: linear-gradient(
      to bottom,
      transparent 90%,
      var(--secondary-dark) 91%
    );
    z-index: 22;
  }
  11% {
    background: linear-gradient(
      to bottom,
      transparent 89%,
      var(--secondary-dark) 90%
    );
    z-index: 22;
  }
  12% {
    background: linear-gradient(
      to bottom,
      transparent 88%,
      var(--secondary-dark) 89%
    );
    z-index: 22;
  }
  13% {
    background: linear-gradient(
      to bottom,
      transparent 88%,
      var(--secondary-dark) 88%
    );
    z-index: 22;
  }
  14% {
    background: linear-gradient(
      to bottom,
      transparent 86%,
      var(--secondary-dark) 87%
    );
    z-index: 22;
  }
  15% {
    background: linear-gradient(
      to bottom,
      transparent 85%,
      var(--secondary-dark) 86%
    );
    z-index: 22;
  }
  16% {
    background: linear-gradient(
      to bottom,
      transparent 84%,
      var(--secondary-dark) 85%
    );
    z-index: 22;
  }
  17% {
    background: linear-gradient(
      to bottom,
      transparent 83%,
      var(--secondary-dark) 84%
    );
    z-index: 22;
  }
  18% {
    background: linear-gradient(
      to bottom,
      transparent 82%,
      var(--secondary-dark) 83%
    );
    z-index: 22;
  }
  19% {
    background: linear-gradient(
      to bottom,
      transparent 81%,
      var(--secondary-dark) 82%
    );
    z-index: 22;
  }
  20% {
    background: linear-gradient(
      to bottom,
      transparent 80%,
      var(--secondary-dark) 81%
    );
    z-index: 22;
  }
  21% {
    background: linear-gradient(
      to bottom,
      transparent 79%,
      var(--secondary-dark) 80%
    );
    z-index: 22;
  }
  22% {
    background: linear-gradient(
      to bottom,
      transparent 78%,
      var(--secondary-dark) 79%
    );
    z-index: 22;
  }
  23% {
    background: linear-gradient(
      to bottom,
      transparent 77%,
      var(--secondary-dark) 78%
    );
    z-index: 22;
  }
  24% {
    background: linear-gradient(
      to bottom,
      transparent 76%,
      var(--secondary-dark) 77%
    );
    z-index: 22;
  }
  25% {
    background: linear-gradient(
      to bottom,
      transparent 75%,
      var(--secondary-dark) 76%
    );
    z-index: 22;
  }
  26% {
    background: linear-gradient(
      to bottom,
      transparent 74%,
      var(--secondary-dark) 75%
    );
    z-index: 22;
  }
  27% {
    background: linear-gradient(
      to bottom,
      transparent 73%,
      var(--secondary-dark) 74%
    );
    z-index: 22;
  }
  28% {
    background: linear-gradient(
      to bottom,
      transparent 72%,
      var(--secondary-dark) 73%
    );
    z-index: 22;
  }
  29% {
    background: linear-gradient(
      to bottom,
      transparent 71%,
      var(--secondary-dark) 72%
    );
    z-index: 22;
  }
  30% {
    background: linear-gradient(
      to bottom,
      transparent 70%,
      var(--secondary-dark) 71%
    );
    z-index: 22;
  }
  31% {
    background: linear-gradient(
      to bottom,
      transparent 69%,
      var(--secondary-dark) 70%
    );
    z-index: 22;
  }
  32% {
    background: linear-gradient(
      to bottom,
      transparent 68%,
      var(--secondary-dark) 69%
    );
    z-index: 22;
  }
  33% {
    background: linear-gradient(
      to bottom,
      transparent 67%,
      var(--secondary-dark) 68%
    );
    z-index: 22;
  }
  34% {
    background: linear-gradient(
      to bottom,
      transparent 66%,
      var(--secondary-dark) 67%
    );
    z-index: 22;
  }
  35% {
    background: linear-gradient(
      to bottom,
      transparent 65%,
      var(--secondary-dark) 66%
    );
    z-index: 22;
  }
  36% {
    background: linear-gradient(
      to bottom,
      transparent 64%,
      var(--secondary-dark) 65%
    );
    z-index: 22;
  }
  37% {
    background: linear-gradient(
      to bottom,
      transparent 63%,
      var(--secondary-dark) 64%
    );
    z-index: 22;
  }
  38% {
    background: linear-gradient(
      to bottom,
      transparent 62%,
      var(--secondary-dark) 63%
    );
    z-index: 22;
  }
  39% {
    background: linear-gradient(
      to bottom,
      transparent 61%,
      var(--secondary-dark) 62%
    );
    z-index: 22;
  }
  40% {
    background: linear-gradient(
      to bottom,
      transparent 60%,
      var(--secondary-dark) 61%
    );
    z-index: 22;
  }
  41% {
    background: linear-gradient(
      to bottom,
      transparent 59%,
      var(--secondary-dark) 60%
    );
    z-index: 22;
  }
  42% {
    background: linear-gradient(
      to bottom,
      transparent 58%,
      var(--secondary-dark) 59%
    );
    z-index: 22;
  }
  43% {
    background: linear-gradient(
      to bottom,
      transparent 57%,
      var(--secondary-dark) 58%
    );
    z-index: 22;
  }
  44% {
    background: linear-gradient(
      to bottom,
      transparent 56%,
      var(--secondary-dark) 57%
    );
    z-index: 22;
  }
  45% {
    background: linear-gradient(
      to bottom,
      transparent 55%,
      var(--secondary-dark) 56%
    );
    z-index: 22;
  }
  46% {
    background: linear-gradient(
      to bottom,
      transparent 54%,
      var(--secondary-dark) 55%
    );
    z-index: 22;
  }
  47% {
    background: linear-gradient(
      to bottom,
      transparent 53%,
      var(--secondary-dark) 54%
    );
    z-index: 22;
  }
  48% {
    background: linear-gradient(
      to bottom,
      transparent 52%,
      var(--secondary-dark) 53%
    );
    z-index: 22;
  }
  49% {
    background: linear-gradient(
      to bottom,
      transparent 51%,
      var(--secondary-dark) 52%
    );
    z-index: 22;
  }
  50% {
    background: linear-gradient(
      to bottom,
      transparent 50%,
      var(--secondary-dark) 51%
    );
    z-index: 22;
  }
  51% {
    background: linear-gradient(
      to bottom,
      transparent 49%,
      var(--secondary-dark) 50%
    );
    z-index: 22;
  }
  52% {
    background: linear-gradient(
      to bottom,
      transparent 48%,
      var(--secondary-dark) 49%
    );
    z-index: 22;
  }
  53% {
    background: linear-gradient(
      to bottom,
      transparent 47%,
      var(--secondary-dark) 48%
    );
    z-index: 22;
  }
  54% {
    background: linear-gradient(
      to bottom,
      transparent 46%,
      var(--secondary-dark) 47%
    );
    z-index: 22;
  }
  55% {
    background: linear-gradient(
      to bottom,
      transparent 45%,
      var(--secondary-dark) 46%
    );
    z-index: 22;
  }
  56% {
    background: linear-gradient(
      to bottom,
      transparent 44%,
      var(--secondary-dark) 45%
    );
    z-index: 22;
  }
  57% {
    background: linear-gradient(
      to bottom,
      transparent 43%,
      var(--secondary-dark) 44%
    );
    z-index: 22;
  }
  58% {
    background: linear-gradient(
      to bottom,
      transparent 42%,
      var(--secondary-dark) 43%
    );
    z-index: 22;
  }
  59% {
    background: linear-gradient(
      to bottom,
      transparent 41%,
      var(--secondary-dark) 42%
    );
    z-index: 22;
  }
  60% {
    background: linear-gradient(
      to bottom,
      transparent 40%,
      var(--secondary-dark) 41%
    );
    z-index: 22;
  }
  61% {
    background: linear-gradient(
      to bottom,
      transparent 39%,
      var(--secondary-dark) 40%
    );
    z-index: 22;
  }
  62% {
    background: linear-gradient(
      to bottom,
      transparent 38%,
      var(--secondary-dark) 39%
    );
    z-index: 22;
  }
  63% {
    background: linear-gradient(
      to bottom,
      transparent 37%,
      var(--secondary-dark) 38%
    );
    z-index: 22;
  }
  64% {
    background: linear-gradient(
      to bottom,
      transparent 36%,
      var(--secondary-dark) 37%
    );
    z-index: 22;
  }
  65% {
    background: linear-gradient(
      to bottom,
      transparent 35%,
      var(--secondary-dark) 36%
    );
    z-index: 22;
  }
  66% {
    background: linear-gradient(
      to bottom,
      transparent 34%,
      var(--secondary-dark) 35%
    );
    z-index: 22;
  }
  67% {
    background: linear-gradient(
      to bottom,
      transparent 33%,
      var(--secondary-dark) 34%
    );
    z-index: 22;
  }
  68% {
    background: linear-gradient(
      to bottom,
      transparent 32%,
      var(--secondary-dark) 33%
    );
    z-index: 22;
  }
  69% {
    background: linear-gradient(
      to bottom,
      transparent 31%,
      var(--secondary-dark) 32%
    );
    z-index: 22;
  }
  70% {
    background: linear-gradient(
      to bottom,
      transparent 30%,
      var(--secondary-dark) 31%
    );
    z-index: 22;
  }
  71% {
    background: linear-gradient(
      to bottom,
      transparent 29%,
      var(--secondary-dark) 30%
    );
    z-index: 22;
  }
  72% {
    background: linear-gradient(
      to bottom,
      transparent 28%,
      var(--secondary-dark) 29%
    );
    z-index: 22;
  }
  73% {
    background: linear-gradient(
      to bottom,
      transparent 27%,
      var(--secondary-dark) 28%
    );
    z-index: 22;
  }
  74% {
    background: linear-gradient(
      to bottom,
      transparent 26%,
      var(--secondary-dark) 27%
    );
    z-index: 22;
  }
  75% {
    background: linear-gradient(
      to bottom,
      transparent 25%,
      var(--secondary-dark) 26%
    );
    z-index: 22;
  }
  76% {
    background: linear-gradient(
      to bottom,
      transparent 24%,
      var(--secondary-dark) 25%
    );
    z-index: 22;
  }
  77% {
    background: linear-gradient(
      to bottom,
      transparent 23%,
      var(--secondary-dark) 24%
    );
    z-index: 22;
  }
  78% {
    background: linear-gradient(
      to bottom,
      transparent 22%,
      var(--secondary-dark) 23%
    );
    z-index: 22;
  }
  79% {
    background: linear-gradient(
      to bottom,
      transparent 21%,
      var(--secondary-dark) 22%
    );
    z-index: 22;
  }
  80% {
    background: linear-gradient(
      to bottom,
      transparent 20%,
      var(--secondary-dark) 21%
    );
    z-index: 22;
  }
  81% {
    background: linear-gradient(
      to bottom,
      transparent 19%,
      var(--secondary-dark) 20%
    );
    z-index: 22;
  }
  82% {
    background: linear-gradient(
      to bottom,
      transparent 18%,
      var(--secondary-dark) 19%
    );
    z-index: 22;
  }
  83% {
    background: linear-gradient(
      to bottom,
      transparent 17%,
      var(--secondary-dark) 18%
    );
    z-index: 22;
  }
  84% {
    background: linear-gradient(
      to bottom,
      transparent 16%,
      var(--secondary-dark) 17%
    );
    z-index: 22;
  }
  85% {
    background: linear-gradient(
      to bottom,
      transparent 15%,
      var(--secondary-dark) 16%
    );
    z-index: 22;
  }
  86% {
    background: linear-gradient(
      to bottom,
      transparent 14%,
      var(--secondary-dark) 15%
    );
    z-index: 22;
  }
  87% {
    background: linear-gradient(
      to bottom,
      transparent 13%,
      var(--secondary-dark) 14%
    );
    z-index: 22;
  }
  88% {
    background: linear-gradient(
      to bottom,
      transparent 12%,
      var(--secondary-dark) 13%
    );
    z-index: 22;
  }
  89% {
    background: linear-gradient(
      to bottom,
      transparent 11%,
      var(--secondary-dark) 12%
    );
    z-index: 22;
  }
  90% {
    background: linear-gradient(
      to bottom,
      transparent 10%,
      var(--secondary-dark) 11%
    );
    z-index: 22;
  }
  91% {
    background: linear-gradient(
      to bottom,
      transparent 9%,
      var(--secondary-dark) 10%
    );
    z-index: 22;
  }
  92% {
    background: linear-gradient(
      to bottom,
      transparent 8%,
      var(--secondary-dark) 9%
    );
    z-index: 22;
  }
  93% {
    background: linear-gradient(
      to bottom,
      transparent 7%,
      var(--secondary-dark) 8%
    );
    z-index: 22;
  }
  94% {
    background: linear-gradient(
      to bottom,
      transparent 6%,
      var(--secondary-dark) 7%
    );
    z-index: 22;
  }
  95% {
    background: linear-gradient(
      to bottom,
      transparent 5%,
      var(--secondary-dark) 6%
    );
    z-index: 22;
  }
  96% {
    background: linear-gradient(
      to bottom,
      transparent 4%,
      var(--secondary-dark) 5%
    );
    z-index: 22;
  }
  97% {
    background: linear-gradient(
      to bottom,
      transparent 3%,
      var(--secondary-dark) 4%
    );
    z-index: 22;
  }
  98% {
    background: linear-gradient(
      to bottom,
      transparent 2%,
      var(--secondary-dark) 3%
    );
    z-index: 22;
  }
  99% {
    background: linear-gradient(
      to bottom,
      transparent 1%,
      var(--secondary-dark) 2%
    );
    z-index: 22;
  }
  100% {
    background: linear-gradient(
      to bottom,
      var(--secondary-dark) 0%,
      var(--secondary-dark) 1%
    );
    z-index: 22;
  }
}
.bg-transitionbck {
  animation: bg-transitionbck 2.5s linear forwards;
}
@keyframes bg-transitionbck {
  0% {
    background-color: var(--secondary-dark);
  }
  100% {
    background-color: transparent;
  }
}

.bg-changingBase {
  background: linear-gradient(
    to right,
    transparent -50%,
    var(--primary-gray) 50%,
    var(--primary-gray) 81%,
    transparent 90%
  );
}
.bg-changingBase2 {
  background: linear-gradient(
    to bottom right,
    transparent -20%,
    var(--primary-gray) 60%,

    transparent 90%
  );
}
.bg-changingBase3 {
  background: linear-gradient(
    to top right,
    transparent -20%,
    var(--primary-gray) 60%,

    transparent 90%
  );
}
.color-change-3x {
  animation: color-change-3x 4s linear infinite alternate both;
}

@keyframes color-change-3x {
  0% {
    background: lightcoral;
  }
  50% {
    background: var(--primary-yellow);
  }
  100% {
    background: #be006d;
  }
}
