@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,500;1,6..12,600;1,6..12,700&display=swap");
@import url("./Components/bg-transition.css");
@import url("./Components/backgrounds.css");
@import url("./Components/animations.css");
@import url("./Components/Header/header.css");
@import url("./Components/Footer/footer.css");
@import url("./Components/LandingPage/landingPage.css");
@import url("./Components/InfoPage/info.css");
@import url("./Components/LandingPage/Aside/aside.css");
:root {
  --primary-dark: #212121;
  --secondary-dark: #161f1e;
  --primary-blue: #10425d;
  --secondary-blue: #01a1c0;
  --primary-green: #6dd280c3;
  --primary-gray: #d7d7d7;
  --secondary-gray: #979696;
  --primary-yellow: #f3b803;
}
body {
  height: 100%;
  font-family: "Nunito Sans", sans-serif !important;
  overflow-x: hidden;
  color: white !important;
}

#MainContainer {
  background: transparent;
}
.underlined {
  text-decoration: underline !important;
}
.transition {
  transition: all 0.6s !important;
}
html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}
/* TEXT PROPERTIES */
.text-red {
  color: indianred !important;
}
.text-yellow {
  color: var(--primary-yellow) !important;
}
.text-main {
  color: white;
}
.text-dark2 {
  color: var(--secondary-dark) !important;
}
.text-green {
  color: var(--primary-green) !important;
}
.text-main:hover {
  color: var(--primary-blue) !important;
}
.text-blue {
  color: var(--primary-blue) !important;
}
.text-gray {
  color: var(--primary-gray) !important;
}

.mini-scale {
  scale: 1.4 !important;
}
.nav-scale > *:hover {
  scale: 1.09;
}
/* BUTTONS AND INPUTS */
.btn-main {
  background-color: var(--primary-gray) !important;
  border: 1.5px solid black !important;
  box-shadow: 0 0 25px 2px var(--primary-blue);
  color: var(--primary-blue) !important;
  transition: all 0.8s !important;
}
.btn-main:hover {
  background-color: var(--primary-green) !important;
  color: var(--primary-blue) !important;
  box-shadow: 1.5px solid var(--primary-green);
}
.myBtn1,
.myBtn2 {
  border: 2.5px solid var(--primary-dark) !important;
  background-color: whitesmoke;
  transition: 0.8s;
  height: 100%;
}
.myBtn1:hover,
.myBtn2:hover {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
}
.myBtn2:hover {
  background-color: var(--primary-yellow);
}
.myBtn1:hover {
  background-color: var(--primary-green);
}
.useslessPadding {
  height: 5vh;
}
#hero {
  height: 130vh !important;
}
#heroSection {
  position: relative;
}
.textscale {
  scale: 1.2em;
  transition: all 3s;
}
.subHero {
  height: 70vh;
}
.font-changing {
  font-size: 1.15em;
}
@media screen and (max-width: 800px) {
  .font-changing {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 550px) {
  .font-changing {
    font-size: 0.9em !important;
  }
}

.border-gray {
  border-color: var(--primary-gray) !important;
}
.text-shadow {
  text-shadow: 5px 2px 8px #161f1ecb;
}
@media only screen and (min-width: 749px) {
  .fs-lg-2 {
    font-size: 1.5em !important;
    transition: all 0.8s;
  }
}
#footer {
  height: 25vh;
  background: var(--secondary-dark);
}
.border-blues {
  border: 10px solid var(--primary-blue);
  backdrop-filter: blur(-1px);
}
.border-white {
  border: 10px solid var(--primary-gray);
  backdrop-filter: blur(1px);
}
.border-contrast {
  border: 10px solid indianred;
  backdrop-filter: blur(1px);
}
.extrasmall,
.extrasmall > * {
  font-size: 0.7em;
}

.smaller {
  font-size: 0.9em;
}

.input-group-text,
input,
textarea {
  border: 1px solid whitesmoke !important;
  color: whitesmoke !important;
  box-shadow: 0px 0px 20px 2px rgba(245, 245, 245, 0.142) !important;
}
input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.3) !important;
  transition: all 0.8s;
  outline: none !important;
  box-shadow: none !important;
}
.salaProve {
  border: 5px solid #ffffffbc;
  height: 100%;
}
.salaProveHovered {
  border: 5px solid white !important;
}

.bg-gray {
  background-color: #ffffffbc;
  color: #10425d;
}
.bg-grayHovered {
  background-color: white !important;
  color: #10425d;
}
.vh39 {
  height: 39vh;
}
.herotext {
  letter-spacing: 0.8em !important;
  text-shadow: 5px 2px 8px #161f1e;
  transition: 3s;
}
.herotextHovered {
  letter-spacing: 0.85em !important;

  scale: 1.05;
  transition: 3s;
}
.transparent {
  opacity: 0 !important;
}
.transition3s {
  transition: all 3s ease-in-out !important ;
}
.shadowOnHover {
  box-shadow: 0px 0px 20px 3px #161f1ea8;
}
.w-10 {
  width: 10%;
}
