@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,500;1,6..12,600;1,6..12,700&display=swap");
:root {
  --primary-dark: #212121;
  --primary-blue: #10425d;
  --primary-green: #6dd280c3;
  --primary-gray: #d7d7d7;
}
body {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  color: white !important;
}
.App {
  animation: bg-change 9s ease-in infinite alternate-reverse both;
}
@keyframes bg-change {
  0% {
    background-color: #10425dae;
  }
  50% {
    background-color: rgba(255, 63, 63, 0.76);
  }
  100% {
    background-color: #212121c8;
  }
}
#MainContainer {
  background: transparent;
}
html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}
.fullwidth {
  width: 101vw;
}
.text-main {
  color: white !important;
  transition: all 0.8s;
}
.mini-scale {
  scale: 1.4 !important;
}
.text-green {
  color: var(--primary-green) !important;
  transition: all 0.8s;
}
.text-main:hover {
  color: var(--primary-blue) !important;
}
.text-blue {
  color: var(--primary-blue) !important;
}
.text-gray {
  color: var(--primary-gray) !important;
  transition: all 0.8s;
}
.border-gray {
  border-color: var(--primary-gray) !important;
}

.nav-scale > *:hover {
  scale: 1.09;
}
.btn-main {
  background-color: var(--primary-gray) !important;
  border: 1.5px solid var(--primary-blue) !important;
  box-shadow: 0 0 25px 2px var(--primary-blue);
  color: var(--primary-blue) !important;
  transition: all 0.8s !important;
}
.btn-main:hover {
  background-color: var(--primary-green) !important;
  color: var(--primary-blue) !important;
  box-shadow: 1.5px solid var(--primary-green);
}
.navbar-toggler {
  border-color: white !important;
  background-color: white !important;
}
#navbar {
  transition: all 0.8s ease-in-out;
}

#navbar:hover {
  background-color: var(--primary-blue);
  box-shadow: 0px 10px 25px -5px var(--primary-blue);
  cursor: pointer;
}
.text-white {
  transition: all 0.9s !important;
}
.border-blues {
  border: 10px solid var(--primary-blue) !important;
}

.navbarElementClicked {
  color: var(--primary-green) !important;
  transition: all 0.8s !important;
}
.navbarElementHovered {
  color: var(--primary-gray) !important;
  transition: all 0.8s !important;
}
.navbarElementHovered:hover {
  color: var(--primary-green) !important;
}
.navbarElement {
  color: var(--primary-blue) !important;
  transition: all 0.8s;
}
.bg-blue {
  background-color: #10425d !important;
}
.navHover2 {
  color: var(--primary-gray) !important;
  transition: all 0.8s;
}
.navHover2:hover {
  color: var(--primary-green) !important;
  cursor: pointer;
}
.border-topGreen {
  border-top: 1px solid var(--primary-gray);
  transition: all 0.8s;
}
.border-topGreen:hover {
  border-color: var(--primary-green);
}
.hover:hover {
  cursor: pointer;
}
.extrasmall,
.extrasmall > * {
  font-size: 0.7em;
}

.smaller {
  font-size: 0.9em;
}
#hero {
  width: 80%;
  padding-top: 10vh;
  margin: auto;
  height: 90vh;
}

.input-group-text,
input,
textarea {
  border: 1px solid var(--primary-blue) !important;
  color: var(--primary-dark) !important;
}
input:focus {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
ƒ
/* ANIMATIONS */

.fade-in {
  animation: fade-in 2.7s 0.8s both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
